{% extends "base.html" %} {% block body %}
<div
  class="row align-items-center justify-content-center"
  style="
    background: url('../static/blackboard.png') center no-repeat;
    background-size: 100%;
    position: absolute;
    width: 75%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  "
>
  <div id="start_quiz" class="col justify-content-center mb-5">
    <h1 class="mb-5">DKDKT 상식 테스트</h1>
    <p class="mx-5" style="font-size: 1.5rem">
      상식 테스트를 진행합니다.<br />
      정답과 오답 비율에 따라 예측 점수가 달라지는 걸 확인해보세요.
    </p>
    <input
      id="user_input"
      class="form-control-lg my-2"
      type="text"
      placeholder="이름(세글자 이상)"
    />
    <br/>
    <button
      type="button"
      id="start_btn"
      class="btn btn-primary btn-sm mt-4"
      style="height: 2em; font-size: 2rem"
      disabled
    >
      START
    </button>
  </div>

  <div class="spinner-grow" id="spinner" role="status" style="display: none">
    <span class="sr-only"></span>
  </div>

  <div
    id="question-section"
    style="padding: 15%; height: 100%; display: none"
    data-started="false"
  >
    <h3 class="mt-5">문제 <span id="q-number">1</span></h2>
    <div class="game-box">
      <p id="question-text" class="mt-4" style="font-size: 2rem;">Loading...</h1>
      <form action="">
        <div style="margin-top: 20px; position: absolute; bottom: 25%; left: 50%; transform: translateX(-50%);">
          <input
            id="answer_input"
            class="form-control-lg my-2"
            type="text"
            placeholder="답안"
            aria-label="example"
          />
          <br />
          <!-- <p id="timer" class="my-4" style="width: 100%"></p>
          <div id="progress-bar" class="mt-3">
            <div id="time-bar"></div>
          </div> -->
          <button
            type="button"
            id="answer-btn"
            data-answer="1"
            class="btn btn-primary btn-sm my-4 answer-btn"
            style="height: 2em; width: 75%; font-size: 1.5rem;"
          >
            제출
          </button>
        </div>
      </form>
    </div>
  </div>

  <div id="result" style="padding: 20%; height: 100%; display: none">
    <h3>Your predicted score is:</h3>
    <div><span id="value">0</span>점!</div>
    <button
      type="button"
      id="restart-btn"
      class="btn btn-primary btn-sm my-4 answer-btn"
      style="height: 3em; width: 20%"
    >
      재도전
    </button>
  </div>
</div>

{% endblock %}
